@import '../variables.less';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #3c4859;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}
  
.bodyContainer {
  height: 100vh;
  background-color: white;
  overflow-y: scroll;
  padding-bottom: 400px;
}


