@import '../../variables.less';

.sidebar {

    max-width: 300px;
    background-color: @brand-cream;
    padding: 30px;
    cursor: default;

    & i {
        margin-right: 25px;
        width: 15px;
        height: 15px;
    }
}

.imageContainer {
    text-align: center;

    & .image {
        border-radius: 50%;
        padding: 2px;
        width: 150px;
        height: 150px;
        opacity: 0.9;
        border: 2px dotted @brand-orange;
    }
}

  
.header {
    background-color: white;
    color: black;
    width: 100%;
    text-align: center;
    padding: 7px;
    letter-spacing: 3px;
    font-size: 1.1em;
    font-weight: 500;
    margin: 20px 0;
}
  
.sidebarItem {
    text-align: left;
    display: block;
    color: black;
    padding: 10px 0;
    font-size: 15px;

    & a {
        text-decoration: none;

        &:hover {
            font-weight: 500;
            color: black;
        }
    }

    & .textContainer {
        display: inline-block;
    }

    & .mute {
        display: block;
        font-size: 13px;
        color: #3c4859;
    }

    & div + div {
        margin-top: 20px;
    }
}

.icon {
    width: 22px;
    padding-bottom: 4px;
    margin-right: 20px; 
}

.iconExpertise {
    width: 22px;
    height: 22px;
}
